.bash_history
.bash_logout
.bash_profile
.bashrc
.lesshst
.profile
.sudo_as_admin_successful
.viminfo
.cache/
.cache/motd.legal-displayed
oci.json
instances.json
deployment-traefik.yaml
.config/
.dotnet/
.kube/
.ssh/
.vscode-server/
wg/
pki
.local
.wget-hsts
.minikube/
wg.bak/
yq
install-oci-k8s.sh
dashboard/02-ingress.yaml
oci-manage-config.sh
bird.conf
miscellaneous/ciliumbgp.yaml
.gitconfig
miscellaneous/lb
lib/
bin/
.npm/
.oci/
.bashrc.backup
oci.sctg.eu.org.key
go/
.docker/
.vscode-remote-containers
.gnupg
.azure
.redhat
_sensitive_datas/_sensitive_datas.tar.xz
.docker/
production/
.vim/.netrwhist
.vscode-remote-containers
.vscode-server
.vscode-server-insiders
iptables/rules.v4
.cloudflared
.mc